//Generics
body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}


img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

.d-flex {
  display: flex;
}

body {
  background-color: #1c1c1c;
}